{% extends 'base.html' %} {%load static%}
<!-- head(links) -->
{% block link %}
<link
  type="text/css"
  href="{% static 'codelang/css/mainstyles.css' %}"
  rel="stylesheet"
/>
<link
  type="text/css"
  href="{% static 'codelang/css/cards.css' %}"
  rel="stylesheet"
/>
{%endblock%}
<!-- <body>  -->
{% block content %}
<main>
  <article class="description">
    <div class="description-wrapper">
      <h1 class="title">Куда вы попали?</h1>
      <p class="description-text">
        CodoLingua - это образовательный ресурс, на котором вы можете свободно
        изучать языки программирования. Здесь будут предоставленны теоретические
        материалы по JavaScript, HTML, CSS, Python. В будущем спектр будет
        расширяться и добавятся тестовые задачи для практики изученных вами
        навыков.
      </p>
    </div>
  </article>
  <section class="language-cards">
    <div class="card python-card">
      <header class="card-header">
        <img
          src="{% static 'codelang/images/python-logo.svg' %}"
          alt="python-logo-only"
          class="logo-lang"
        />
        <h2>Python</h2>
      </header>
      <br />
      <hr />
      <br />
      <p class="lang-description">
        Python - это очень популярный и мощный язык программирования, который
        широко используется для разработки веб-приложений, анализа данных,
        машинного обучения и многих других задач. Python очень прост в изучении,
        поскольку его синтаксис близок к английскому языку, что делает его
        доступным для новичков. Он также имеет множество встроенных библиотек и
        фреймворков, которые упрощают работу с базами данных, веб-разработкой,
        машинным обучением и многому другому. Python использует динамическую
        типизацию, что означает, что вы не обязаны объявлять тип переменной,
        когда вы ее создаете. Это делает Python очень гибоким и позволяет писать
        код быстрее. Python также поддерживает объектно-ориентированное
        программирование, что означает, что вы можете создавать свои собственные
        типы данных и использовать их в своих программах. Python имеет широкую
        поддержку для разработки, включая отладку, тестирование, и многое
        другое. Это делает его очень полезным для разработки программного
        обеспечения.
      </p>
    </div>
    <div class="example-py code-example">
      <pre>
        <code>
  # Программа для вычисления среднего значения из списка чисел
  def calculate_average(numbers):
      return sum(numbers) / len(numbers)

  # Основная программа
  numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  average = calculate_average(numbers)

  print("Среднее значение: ", average)

  # Проверка функции calculate_average
  assert calculate_average([1, 2, 3, 4, 5]) == 3
  assert calculate_average([10, 20, 30, 40, 50]) == 30
  assert calculate_average([5, 10, 15, 20, 25]) == 15

  # Проверка обработки пустого списка
  try:
      calculate_average([])
  except ZeroDivisionError:
      print("Ошибка: нельзя делить на ноль")

  # Проверка обработки списка содержащего нечисловые значения
  try:
      calculate_average(['a', 'b', 'c'])
  except TypeError:
    print("Ошибка: нечисловые данные не могут быть усреднены.")
        </code>
        </pre>
    </div>

    <div class="example-js code-example">
      <pre>
        <code>
  function sumOfSquares(arr) {
    let sum = 0;
    for (let i = 0; i < arr.length; i++) {
    sum += arr[i] * arr[i];
    }
    return sum;
    }
    
    let arr = [1, 2, 3, 4, 5];
    console.log(sumOfSquares(arr))
        </code>
      </pre>
    </div>

    <div class="card javascript-card">
      <header class="card-header">
        <img
          src="{% static 'codelang/images/js-logo.svg' %}"
          alt="python-logo-only"
          class="logo-lang"
        />
        <h2>JavaScript</h2>
      </header>
      <br />
      <hr />
      <br />
      <p class="lang-description">
        JavaScript (JS) — это язык программирования, который используется для
        создания интерактивных веб-страниц. Он является одним из трех основных
        языков, используемых для разработки на стороне клиента (front-end
        разработка), наряду с HTML и CSS. С помощью JavaScript можно добавлять
        различные эффекты на веб-страницах, такие как анимация, всплывающие
        окна, валидация форм и многое другое. Также он используется для
        взаимодействия с пользователем, например, для обработки событий, таких
        как нажатия на кнопки или ссылки. Кроме того, благодаря JavaScript,
        веб-страницы могут обмениваться данными с сервером, отправляя запросы и
        получая ответы. Это позволяет создавать динамические веб-приложения,
        которые могут взаимодействовать с базой данных на сервере. Для работы с
        JavaScript используются различные библиотеки и фреймворки, такие как
        jQuery, React, Angular и другие. Они помогают упростить и ускорить
        процесс разработки, предоставляя готовые решения для различных задач.
      </p>
    </div>
    <div class="card HTML-and-CSS-card">
      <header class="card-header">
        <img
          src="{% static 'codelang/images/html-logo.svg' %}"
          alt="python-logo-only"
          class="logo-lang"
        />
        <img
          src="{% static 'codelang/images/css-logo.svg' %}"
          alt="python-logo-only"
          class="logo-lang"
        />
        <h2>HTML и CSS</h2>
      </header>
      <br />
      <hr />
      <br />
      <p class="lang-description">
        HTML (Hypertext Markup Language) — это язык разметки гипертекста,
        используемый для создания структуры веб-страницы. Он определяет
        содержание, структуру и размещение элементов на веб-странице, таких как
        заголовки, параграфы, изображения, ссылки и т.д. HTML-код представляет
        собой текстовый файл, который может быть открыт и отредактирован в любом
        текстовом редакторе. CSS (Cascading Style Sheets) — это набор правил,
        определяющих внешний вид и расположение элементов на веб-страницах. С
        помощью CSS можно изменять шрифты, цвета, размеры, отступы, границы и
        многие другие параметры. CSS-код обычно размещается внутри HTML-кода и
        применяется к определенным элементам или группам элементов. Оба эти
        языка являются основой для создания веб-сайтов и веб-приложений. Они
        позволяют дизайнерам и разработчикам контролировать внешний вид и
        функциональность веб-страниц, делая их интерактивными и привлекательными
        для пользователей.
      </p>
    </div>
  </section>
</main>
{% endblock %}
