{% extends 'base.html' %} {%load static%} {% block link %}
<link
  type="text/css"
  href="{% static 'codelang/css/reg-log-form.css' %}"
  rel="stylesheet"
/>
{%endblock%} {% block content %}
<main>
    <div class="reg-title">
        <span>Регистрация</span>
    </div>
  <div class="form-wrapper">
    <form action="reg_form.html" method="post">
      <div class="login field">
        <label for="login">Логин</label>
        <input type="text" placeholder="Введите логин"/>
      </div>
      <div class="email field">
        <label for="login">Электронная почта</label>
        <input type="email" placeholder="А сюда почту"/>
      </div>
      <div class="phone field">
        <label for="login">Номер телефона</label>
        <input type="tel" placeholder="Здесь укажите ваш номер телефона"/>
      </div>
      <div class="password field">
        <label for="login">Пароль</label>
        <input type="password" placeholder="А тут пароль -_-"/>
      </div>
      <div class="repeat-password field">
        <label for="login">Повторите пароль</label>
        <input type="password" placeholder="Повторите ваш пароль —__—"/>
      </div>
      <div class="buttons">
        <button type="submit" class="reg btn">Зарегистрироваться</button>
        <button type="button" class="enter btn">Войти</button>
      </div>
    </form>
  </div>
</main>
{% endblock %}
