{% extends 'base.html' %} {% load custom_filters %} {%load static%} {% block link %}
<link
        type="text/css"
        href="{% static 'codelang/css/topicPage.css' %}"
        rel="stylesheet"
/>
{%endblock%} {% block content %}
<div class="page-content-wrapper">
    <aside class="topic-sections">
        <div>
            <ul class="subtopics-list">
                <h3 class="topic-title">{{ topics.topic_title }}</h3>
                <a href="{{topics.get_absolute_url}}" class="topics">
                    <li class="subtopics">
                        <button class="">{{ topics.topic_content }}</button>
                    </li>
                </a>
            </ul>
            <hr/>
            <a href="#">
                <img
                        src="{% static 'codelang/images/telegram.svg' %}"
                        alt="telegram-logo"
                        class="contact-telegram"
                /></a>
            <p>&copy;Вопросы, предложения, проклятья, пожелания</p>
        </div>
    </aside>
   <main>
    {% for key, value in text.items %}
        <p class="topic-content">{{ value }}</p>
        {% if 'Пример ниже:' in value %}
            <div class="code-example">
                <header>
                    <span>python</span>
                    <span>
                        <button>copy</button>
                    </span>
                </header>
                <pre>
                    <code>
                        {{ code|get_next_code:forloop.counter|default:'' }}
                    </code>
                </pre>
            </div>
       {{ continue }}
        {% endif %}
    {% endfor %}
</main>
</div>
{%endblock%} {% block scripts %}
<script src="{% static 'codelang/js/subtopicsInSideBar.js' %}"></script>
{% endblock %}
