{% extends 'base.html' %} {%load static%} {% block link %}
<link
  type="text/css"
  href="{% static 'codelang/css/topicPage.css' %}"
  rel="stylesheet"
/>
{%endblock%} {% block content %}
<div class="page-content-wrapper">
  <aside class="topic-sections">
    <div>
      <ul class="subtopics-list">
        {% for t in topics %}
        <h3 class="topic-title">{{ t.topic_title }}</h3>
        <a href="{% url 'python-topic' %}" class="topics">
          <li class="subtopics">
            <button class="">{{ t.topic_content }}</button>
          </li>
        </a>
        {% endfor %}
      </ul>
      <hr />
      <a href="#">
        <img
          src="{% static 'codelang/images/telegram.svg' %}"
          alt="telegram-logo"
          class="contact-telegram"
      /></a>
      <p>&copy;Вопросы, предложения, проклятья, пожелания</p>
    </div>
  </aside>
  <main>
  </main>
</div>
{%endblock%} {% block scripts %}
<script src="{% static 'codelang/js/subtopicsInSideBar.js' %}"></script>
{% endblock %}
