{% extends 'base.html' %} {%load static%} {% block link %}
<link
  type="text/css"
  href="{% static 'codelang/css/reg-log-form.css' %}"
  rel="stylesheet"
/>
{%endblock%} {% block content %}
<main>
  <div class="form-wrapper">
    <h1>Авторизация</h1>
    <form method="post">
      {% csrf_token %}
      <div class="login field">
        {{ form.username.label_tag }} {{ form.username }}
      </div>
      <div class="password field">
        {{ form.password.label_tag }} {{ form.password }}
      </div>
      <p>
        <button type="submit" class="btn">Войти</button>
        <a href="{% url 'users:register' %}" class="reg btn">Зарегистрироваться</a>
      </p>
    </form>
  </div>
</main>
{% endblock %}
