@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Montserrat&family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family:'Montserrat', sans-serif;;
}
/* header start */
.main-header {
    
    align-items: center;
    padding: 20px;
    background-color: #f36223;
    margin-bottom: 50px;
}

.logo {
    margin-right: auto;
    font: 2rem 'Courier Prime', monospace;;
    color: white;
}
.logo strong{
    color: rgb(0, 0, 0)
}

a {
    text-decoration: none;
    color: inherit;
}

header a{
    display: block;
    padding: 10px
}

.navigation-item a:hover {
    color: rgb(255, 255, 255);
}

.main-navigation{
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 75px;
}
.main-navigation-list{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
    padding: 5px;
    list-style-type: none;
}
/* header end */
/* main start */
.description{
    display: flex;
    justify-content: center;
    align-items: center;
}
.description-wrapper{
    display: inline-block;
    width: 40%;
    font-size: 30px;
    margin-bottom: 40px;
}
.description-wrapper h1 {
    display: flex;
    justify-content: center;
}
/* footer start */
.main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: black;
    margin-top: 40px;
    color: white;
}
/* footer end */