.topics {
    display: block;
    margin-left: 40px;
    margin-top: 0;
}
.topics h2:hover{
    text-decoration: underline;
}
.topics-item{
    margin-bottom: 20px;
}
.topics-item:last-child{
    margin-bottom: 0;
}

.topics-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.title-lang {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: 25px;
}

.title-lang img {
    width: 75px;
    height: 100%;
    margin-right: 20px;
}
.lang-description{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lang-description-wrapper{
    display: inline-block;
    width: 740px;
    font-size: 20px;
    margin-bottom: 40px;
}