
.topics {
    display: block;
    margin-top: 0;
    padding: 10px;
    padding-right: 40px;
    align-items: center;
}
.topics h2:hover{
    text-decoration: underline;
}
.topics div{
    font-size: 18px
}
.topics-list{
    display: grid;
    grid-template-columns: 550px 550px;
    gap: 20px;
    list-style-type: none;
}
.topics-item{
    background: linear-gradient(45deg, rgb(255, 188, 62), #f36223);
    border-radius: 10px;
}
.topics-item:last-child{
    margin-bottom: 0;
}

.topics-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-lang {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: 25px;
}

.title-lang img {
    width: 75px;
    height: 100%;
    margin-right: 20px;
}
.lang-description{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lang-description-wrapper{
    display: inline-block;
    width: 740px;
    font-size: 20px;
    margin-bottom: 40px;
    
}