.page-content-wrapper{
    display: grid;
    grid-template-columns: 230px 1fr;
}
.topic-sections{
    margin-top: -50px;
    margin-bottom: -40px;
    background-color: rgb(62, 62, 62);
    padding: 20px;
    color: white;
}
.subtopics-list{
    list-style-type: none;
}
.subtopics-list h3{
    margin-bottom: 30px;
    color: rgb(255, 188, 62);
}
.subtopics-list li {
    margin: 15px 0;
    background: linear-gradient(45deg, rgb(255, 188, 62), #f36223);
    padding: 5px;
    border-radius: 10px;
    color: rgb(81, 77, 77);
    font-weight: 700;
    font-size: 20px;
}
aside p{
    margin-top: 10px;
}
.contact-telegram{
    width: 30px;
    height: 100%;
}
main {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    margin: 0 75px;
}

.code-example{
    align-self: center;
    width: 550px;
    height: auto;
    border-radius: 10px;
    color: white;
    background-color: rgb(39, 38, 38);
    margin: 10px 0;
}
.code-example pre{
    margin: 0 10px;
}

.code-example header{
    display: flex;
    padding: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: space-between;
    background-color: rgb(85, 85, 85);
}
.code-example button{
    background: none;
    border: none;
    border-radius: 5px;
    color: white;
    transition: .3s;
    padding: 2px 4px;
    font-size: 14px;
}
.code-example button:hover{
    background-color: rgb(110, 109, 109);
}
.topic-content{
    font-size: 18px;
    margin: 5px;
}