{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {% block link %} {%endblock%}
    <style>
        body {
            background-image: url("{% static 'codelang/images/background.png' %}");
        }
    </style>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-navigation">
        <a href="{% url 'home' %}">
          <span class="logo"> &lt;<strong>Cod</strong>oL<strong>ing</strong>ua/&gt;</span>
        </a>
        <ul class="main-navigation-list">
          <li class="navigation-item"><a href="#">Раздел 1</a></li>
          <li class="navigation-item"><a href="#">Раздел 2</a></li>
          <li class="navigation-item"><a href="#">Раздел 3</a></li>
          <li class="navigation-item"><a href="#">Раздел 4</a></li>
        </ul>
      </nav>
    </header>
    {% block content %} {% endblock %}
    <footer class="main-footer">
      &copy;Project For ManagePrgoramProjects
    </footer>
  </body>
</html>
