{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {% block link %}
    
    {%endblock%}
  </head>
  <body>
    <header class="main-header">
      <a href="index.html">
        <span class="logo"><strong>Cod</strong>oL<strong>ing</strong>ua</span>
      </a>
      <nav class="main-navigation">
        <ul class="main-navigation-list">
          <li class="navigation-item"><a href="#">Раздел 1</a></li>
          <li class="navigation-item"><a href="#">Раздел 2</a></li>
          <li class="navigation-item"><a href="#">Раздел 3</a></li>
          <li class="navigation-item"><a href="#">Раздел 4</a></li>
        </ul>
      </nav>
    </header>
    {% block content %} {% endblock %}
  </body>
</html>
